<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tabletopgames">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TabletopGames">
        <activity
            android:name=".views.EditMonopLogSheet"
            android:exported="true"
            android:label="@string/title_activity_edit_monop_log_sheet"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.EditMtgLogSheet"
            android:exported="true"
            android:label="@string/title_activity_edit_mtg_log_sheet"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.MonopolyLogSheet"
            android:exported="true"
            android:label="@string/title_activity_monopoly_log_sheet"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.MtgLogSheet"
            android:exported="true"
            android:label="@string/title_activity_mtg_log_sheet"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.DndLogSheet"
            android:exported="true"
            android:label="@string/title_activity_dnd_log_sheet"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.EditProfile"
            android:exported="true"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.ReservationDetails"
            android:exported="true"
            android:label="@string/title_activity_reservation_details"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.MyProfileView"
            android:exported="true"
            android:label="@string/title_activity_my_profile_view"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.NewMONOPentry"
            android:exported="true"
            android:label="@string/title_activity_new_monopentry"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.NewMTGentry"
            android:exported="true"
            android:label="@string/title_activity_new_mtgentry"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.NewDNDentry"
            android:exported="true"
            android:label="@string/title_activity_new_dndentry"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.NewLogSheet"
            android:exported="true"
            android:label="@string/title_activity_new_log_sheet"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.Home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.LogSheets"
            android:exported="true"
            android:label="@string/title_activity_log_sheets"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity
            android:name=".views.Reservations"
            android:exported="true"
            android:label="@string/title_activity_reservations"
            android:theme="@style/Theme.TabletopGames.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>